<app-navbar></app-navbar>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" 
    routerLink="/crisis-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    aria-current="page">Feitiços</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    routerLink="/heroes-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page">Casa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    routerLink="/diario"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    aria-current="page">Livros</a>
  </li>
</ul>

<div class="container">

  <router-outlet />
    
</div>

<app-bar-footer></app-bar-footer>