
<div class="container">
    <div>
      <img src="hog.png" class="rounded mx-auto d-block text-focus-in" height="300px" alt="">
    </div>
    <h1 class="display-5 text-focus-in titulo">Hogwarts <span>A Escola de Magia e Bruxaria</span></h1>


    <div class="card text-focus-in" style="border: none;">
      <div class="card-body">
        <h3 class="card-title">Escola e informação</h3>
        <div class="card-text">
          <p>
            O Castelo de Hogwarts está localizado na Escócia, num local desconhecido 
            (no livro Harry Potter e o Prisioneiro de Azkaban é dito que fica perto de Dufftown), 
            próximo da vila de Hogsmeade. </p>
          <p>
            Os Muggles (Trouxas, na tradução brasileira) não conseguem nem ver, 
            nem localizar a escola uma vez que esta possui imensos feitiços e encantamentos de proteção, 
            sendo que os Muggles apenas veem ruínas e sinais de aviso para se afastarem.</p>
          <p>
            O castelo possui longos terrenos cobertos de relva, um campo de Quidditch (Quadribol, na tradução brasileira), 
            um lago (chamado de O Lago Negro), uma grande e densa floresta (chamada de Floresta Proibida), 
            entre outras construções. <br> O castelo possui também a Torre das Corujas (ou Corujal) 
            que abriga todas as corujas da escola e dos alunos. <br> Existem 142 escadarias no castelo de Hogwarts (ver notas). 
            (A sua movimentação nunca foi descrita nos livros, apenas para as adaptações dos filmes, exceto do último, 
            que seguiu fiel aos livros).</p>
          <p>Em Hogwarts não existe eletricidade nem dispositivos eletrónicos à exceção de rádios, que não são alimentados por eletricidade, 
          mas por magia.</p>
          <p>Além disso, a imensa quantidade de magia presente em Hogwarts faz com que todos os aparelhos elétricos 
          parem de funcionar.</p>
        </div>
      </div>
    </div>

    <div class="card text-focus-in" style="border: none;">
      <div class="card-body">
        <h3 class="card-title">História de Hogwarts</h3>
        <div class="card-text">
          Hogwarts foi fundada por quatro bruxos renomados: Godric Gryffindor,
          Helga Hufflepuff, Rowena Ravenclaw e Salazar Slytherin.
          Cada um deles criou uma casa que reflete seus valores e habilidades. 
          Ao longo dos séculos, a escola enfrentou desafios e mudanças, 
          mas sempre manteve seu compromisso com o ensino da magia.
        </div>
      </div>
    </div>

    <div class="text-focus-in"> 
      <img src="fundadores.webp" class="rounded mx-auto d-block " width="200px"  alt="">
    </div>

    <app-section-one></app-section-one>
</div>

